 <!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section" [ngStyle]="{'background-color':template.educationBackgroundColor}">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5 [ngStyle]="{'color':template.educationTextColor1,'font-size':template.educationTextSize1}">Resume</h5>
           <h1 [ngStyle]="{'color':template.educationTextColor2,'font-size':template.educationTextSize2}">More of my credentials.</h1>

           <p class="lead"> </p>

       </div>   		
   </div> <!-- /section-intro--> 
   <div class="row resume-timeline">

    <div class="col-twelve resume-header">

        <h2>Education</h2>

    </div> <!-- /resume-header -->

    <div class="col-twelve">

        <div class="timeline-wrap">

            <div class="timeline-block"  *ngFor="let item of service.profiler">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>Higher Certificate</h3>
                    <p>June 2022 - Present</p>
                </div>

                <div class="timeline-content">
                    <h4>{{item.myEducation}}</h4>
                    <p>{{item.myEducationDescription}}</p>
                </div>

            </div> <!-- /timeline-block -->

        </div> <!-- /timeline-wrap -->   			

    </div> <!-- /col-twelve -->
    
</div> <!-- /resume-timeline -->
   <div class="row resume-timeline">

       <div class="col-twelve resume-header">

           <h2>Work Experience</h2>

       </div> <!-- /resume-header -->

       <div class="col-twelve">

           <div class="timeline-wrap">

            <div class="timeline-block" *ngFor="let item of service.profiler">

                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>
                </div>

                <div class="timeline-header">
                    <h3>IT {{item.currentOccupation}}</h3>
                    <p>June 2022 - Present</p>
                </div>

                <div class="timeline-content">
                    <h4>{{item.Experience}}</h4>
                    <p>{{item.myExperienceDescription}}</p>
                </div>

            </div> <!-- /timeline-block -->



           </div> <!-- /timeline-wrap -->   			

       </div> <!-- /col-twelve -->
       
   </div> <!-- /resume-timeline -->
    
</section> <!-- /features -->
