<footer  [ngStyle]="{'background-color':template.educationBackgroundColor}">
    <div class="footer-content">
        <!--add all information -->
        <div *ngFor="let item of service.profiler">
            <h3 [ngStyle]="{'color':template.footerTextColor1,'font-size':template.footerTextSize1}">{{item.name+" "+item.surname}}</h3>
            <p [ngStyle]="{'color':template.footerTextColor2,'font-size':template.footerTextSize2}">{{item.about}}</p>
        </div>
        
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
         </ul>
         <p>copyright &copy;2022 <a href="#">ThabangSoulo</a>  </p>
         
    </div>
</footer>