<body>
  <nav class="navbar fixed-top navbar-expand-lg  navbar-light" style="background-color: #1D2226">
    <a href="#" class="navbar-brand custom-nav" style="color: #E9E9EA;">PROFILER</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="color: #E9E9EA;">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
       
      
      </ul>
    </div>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
        <li class="nav-item active" >
          <a style="color: #E9E9EA;" class="nav-link" href="#">Edit Profile </a>
        </li>
        <li class="nav-item">
          <a style="color: #E9E9EA;" class="nav-link" href="#">Theme Edit</a>
        </li>
        <li class="nav-item">
            <a style="color: #E9E9EA;" class="nav-link" href="#">Log out</a>
          </li>
      </ul>
 
</nav>    

    <div class="row">
      
        <div class="column1">
          <br>
          <br>
          <br>
             <iframe [src]="transform(location)" style="border:none;overflow: hidden; "  seamless="seamless" title="W3Schools Free Online Web Tutorials" width="100%" height="100%" >   </iframe> 
        </div>
       
        <div class="column2">
          <br>
          <br>
          <br>
            <p>Customize Theme</p>
            <form  #usersForm="ngForm" (ngSubmit)="postThemeEdit(usersForm.value)">
            <div *ngFor="let item of ThemeTemplate | keyvalue: keepOrder ">
                <!-- <div>{{item.key}} </div> -->
                <div class="form-outline">
                    <label class="form-label"  for="form12" style="color: darkgrey;text-transform: capitalize;">{{item.key}}</label>
                    <input type="text" [(ngModel)]="item.value" name="{{item.key}}" id="form12" class="form-control" value="{{item.value}}" />
                  
                  </div>
            </div>
                <input type="submit" class="form-control">
            </form>
            <!-- <ul *ngFor="let item of template">
                <li style="color: white">{{item}}j</li>
            </ul> -->
        </div>
    </div>    
</body>
